<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        <title>Count Repeat</title>
    </head>
    <body>
        <h1>Count Repeat</h1>
        <h2>A Simple Search for Successive Sentence Sections.</h2>
        <form id="form" class="" action="/runCount" method="get">
            <label for="sentence">Enter a word, phrase, or sentence:</label>
            <textarea name="sentence" rows="8" cols="20"></textarea>
            <label for="word">Enter a single word search:</label>
            <input type="text" name="word" value="">
            <button type="submit" name="button">Search</button>
        </form>
        <p>
            {% if count is not empty %}
                {% if count == 1 %}
                    <h4>Aha! That word occurs only {{count}} time in your sentence.</h4>
                {% elseif count > 0 %}
                    <h4>Your selected word appears {{count}} times in your sentence.</h4>
                {% else %}
                    <h4>That word never occurs in your sentence. Try another word!</h4>
                {% endif %}
                <p>{{ sentence | raw }}</p>
            {% endif %}
        </p>

    </body>
</html>
