body {
    background-color: #F0EDEE;
}


.page-header {
    background-color: #8BEDC6;
    border-bottom: 0px;
    padding: 3%;
}

.match {
    font-weight: bold;
    font-size: 1.2em;
    color: #3B3561;
    padding: 1px;
}

.btn {
    background-color: #363732;
    margin-bottom: 3%;
    font-size: 1.2em;
}

#full {
    background-color: #A09EBB;

}

#partial {
    background-color: #D3D0CB;
}

.btn:hover {
    color: #C2D3CD;
}

h4 {
    border-bottom: 2px solid black;
    padding-bottom: 1.5%;
}

p {
    font-size: 1.1em;
}
