body {
    background-color: #F0EDEE;
}


.page-header {
    background-color: #8BEDC6;
    border-bottom: 0px;
    padding: 3%;
}

.match {
    font-weight: bold;
    font-size: 1.2em;
    color: #3B3561;
}

.btn {
    background-color: #363732;
    color: #fff;
}

.btn:hover {
    color: #C2D3CD;
}

h4 {
    border-bottom: 2px solid black;
    padding-bottom: 1.5%;

}
